---
import Layout from "../../layouts/Layout.astro";
import LinkButton from "../../components/LinkButton.astro";
import ScriptHeader from "../../components/ScriptHeader.astro";
import ScriptMeta from "../../components/ScriptMeta.astro";
import Box from "../../components/Box.astro";
import Tag from "../../components/Tag.astro";

import { getAllScripts, getScriptBySlug } from "../../utils/scripts";
import { marked } from "marked";

export async function getStaticPaths() {
  const scripts = await getAllScripts();
  return scripts.map((script) => ({
    params: { script: script.slug },
  }));
}

const { script: slug } = Astro.params;
const script = await getScriptBySlug(slug!);

if (!script) {
  return Astro.redirect("/404");
}

const content = await marked(script.content);
const gh = "https://github.com/lnus/userscripts/tree/main/"
---

<Layout title={script.slug}>
  <div class="flex gap-8">
    <div class="flex-grow">
      <Box title={script.slug} subtitle="README.md">
        <div
          class="prose p-4 dark:prose-invert lowercase"
          set:html={content}
        />
      </Box>
    </div>

    <div class="w-80">
      <Box title="info" subtitle="meta tags" class="sticky top-8">
        <div class="space-y-4 text-sm">
          <div>name: {script.metadata.name}</div>
          <div>author: {script.metadata.author}</div>
          <div>description: {script.metadata.description}</div>
          <div>license: mit</div>
          <div>version: v{script.metadata.version}</div>
          <div>last updated: {script.metadata.lastUpdated.toLocaleDateString()}</div>

          {script.metadata.tags.length > 0 && (
          <div class="flex gap-2 my-4 flex-wrap">
            {script.metadata.tags.map(tag => <Tag name={tag} />)}
          </div>
          )}

          <div class="flex justify-end gap-4">
            <LinkButton href={`${gh}/scripts/${slug}`}>source</LinkButton>
            <LinkButton href={`/userscripts/${slug}/script.user.js`}>install</LinkButton
            >
          </div>
        </div>
      </Box>
    </div>
  </div>
</Layout>

