---
import Layout from "../../layouts/Layout.astro";
import ScriptHeader from "../../components/ScriptHeader.astro";
import ScriptMeta from "../../components/ScriptMeta.astro";
import { getAllScripts, getScriptBySlug } from "../../utils/scripts";
import { marked } from "marked";

export async function getStaticPaths() {
  const scripts = await getAllScripts();
  return scripts.map((script) => ({
    params: { script: script.slug },
  }));
}

const { script: slug } = Astro.params;
const script = await getScriptBySlug(slug!);

if (!script) {
  return Astro.redirect("/404");
}

const content = await marked(script.content);
---

<Layout title={script.slug}>
  <article class="border-2 border-current">
    <div class="p-4">
      <div
        class="prose dark:prose-invert max-w-none mb-8 lowercase"
        set:html={content}
      />

      <ScriptMeta
        slug={script.slug}
        version={script.metadata.version}
        lastUpdated={script.metadata.lastUpdated}
      />
    </div>
  </article>
</Layout>
