---
import LinkButton from "./LinkButton.astro";

interface Props {
  slug: string;
  version: string;
  lastUpdated: Date;
  details: boolean;
}

const { slug, lastUpdated, version, details } = Astro.props;
const gh = "https://github.com/lnus/userscripts/tree/main/"
---

<div class="flex justify-between items-end text-sm">
  <div class="text-xs space-y-1">
    {version && <div>version: v{version}</div>}
    <div>last updated: {lastUpdated.toLocaleDateString()}</div>
  </div>

  <div class="space-x-4">
    {details 
    ? <LinkButton href={`/userscripts/${slug}`}>details</LinkButton>
    : <LinkButton href={`${gh}/scripts/${slug}`}>source</LinkButton>
    }
    <LinkButton href={`/userscripts/${slug}/script.user.js`}>install</LinkButton
    >
  </div>
</div>
