---
import { marked } from "marked";
import LinkButton from "./LinkButton.astro";
import ScriptHeader from "./ScriptHeader.astro";
import ScriptMeta from "./ScriptMeta.astro";
import AsciiBox from "./AsciiBox.astro";
import Tag from "./Tag.astro";

interface Props {
  title: string;
  description: string;
  content: string;
  slug: string;
  metadata: {
    name: string;
    version: string;
    description: string;
    author: string;
    lastUpdated: Date;
    tags: string[];
  };
}

const { title, description, slug, metadata, content } = Astro.props;

const contentHtml = await marked(content);
---

<!-- <article class="border-dashed border-2 p-4 border-current transition-colors"> -->
<article class="border-b border-black/20 dark:border-white/20 p-4 transition-colors">
  <ScriptHeader
    title={title}
    version={metadata.version}
    author={metadata.author}
    description={metadata.description}
  />

  {metadata.tags.length > 0 && (
  <div class="flex gap-2 my-4 flex-wrap">
    {metadata.tags.map(tag => <Tag name={tag} />)}
  </div>
  )}

  <ScriptMeta
    slug={slug}
    lastUpdated={metadata.lastUpdated}
    details=true
  />
</article>
